

.ibm-plex-sans-jp-regular {
    font-family: "IBM Plex Sans JP", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

html{
    font-size:16px;
}
body {
    font-family: "IBM Plex Sans JP";
    margin: 0;
    padding: 0;
    background-color: #fffefa;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    height: 100vh;
}
main{
    margin:0;
    padding:0;
    
}
.app {
    background-color: #fffefa;
    width: 100%;
    max-width: 600px; /* デスクトップなどの大きな画面での最大幅 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home{
    margin:0 ;
    padding:0;
}
.front-message{
    display: none;
}
.home-title-pop{
    color: #4B5563;
    font-weight:700;
    font-size: calc(1.2rem + 0.6vw);
    margin-bottom: 2vh;
    margin-left:5vw;
}

.pickup-title-more{
    color: #4B5563;
    font-size: calc(1.2rem + 0.6vw);
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left:5vw;
}


header {
    color: #edc32c;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    margin-top:4vw;
}
.rulette-title{
    display:inline-flex;
    align-items: center;
    
    
}
.rulette-logo-header{
    height: 12vw; 
    
}


.title-container h1{
    margin:0;
    padding:0;
    font-size: calc(1.7rem + 1vw);
}
.title-container p{
    font-size: calc(0.4rem + 0.7vw);
    /* margin:0; */
    padding:0;
    font-weight: bold;
    position: absolute;
    top:4vh;
    right:0;
    margin: 0;
}

.introduction{
    margin-top:30px;
    margin-bottom:50px;
}

.introduction h1{
    color: #edc32c;
    font-size: 20px;
}
.introduction p{
    color: #9d9988;
    /* font-weight: 550; */
    font-size: 11px;
}

main {
    
    width:100%;
}


.grid-item {
    width: 100%; /* 親要素であるgrid-boxの幅に合わせる */
    padding-top: 100%; /* 正方形を保つため */
    position: relative;
    border-radius: 20px;
    background-color: #1c1c1c;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-box{
    width: 100%; /* .app要素の45% */
    margin: 0 auto; /* 中央寄せ */
}
.grid-title {
    text-align: center;
    font-size: calc(0.9rem + 0.5vw); /* 基本フォントサイズにビューポート幅の0.5%を加算 */
    font-weight: 700;
    color: #4B5563;
    margin-top: 10px;
    margin-bottom: 5px;
}

.grid-description {
    font-weight: 600;
    text-align: center;
    font-size: calc(0.57rem + 0.5vw); /* 基本フォントサイズにビューポート幅の0.5%を加算 */
    color: #949495;
    margin-top: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 常に2列 */
    gap: 3.5vw; /* グリッドアイテム間の間隔 */
    width: 100%;
    padding: 3.5vw;
    box-sizing: border-box; /* グリッドアイテム間の間隔 */
}
/* grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));

グリッドコンテナの列の数とサイズを定義します。
repeat() 関数を使用して、列のパターンを繰り返し指定します。
auto-fit キーワードを使用すると、利用可能なスペースに基づいて列の数が自動的に調整されます。
minmax(156px, 1fr) は、各列の最小幅を156ピクセルに設定し、残りのスペースを等分して割り当てます。

156pxは、グリッドアイテムの幅に合わせて設定されています。
1fr は、残りのスペースを等分して割り当てるための単位です。

この設定により、グリッドコンテナの幅に応じて、自動的に列の数が調整され、
各列は少なくとも156ピクセルの幅を持ちます。
gap: 20px;
グリッドアイテム間の間隔（ギャップ）を設定します。
行と列の両方に20ピクセルの間隔が適用されます。 
*/

.grid-pickup{
    width: 345px;
    height: 483px;
    border-radius: 20px; /* 角の丸み具合を調整 */
    background-color: #1c1c1c; /* アイテムの背景色 */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); /* 影の設定 */
    overflow: hidden;
}
.Home{
    display:grid;
}
#home-grid{
    display:grid;
}

.PickUp{
    display:none;
}
#game-grid{
    display: grid;
}

.carousel-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pickup-carousels{
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;
    width: 100vw;
}
#accordion-container{
    margin: 0 auto;
    margin-top: 2vw;
    width: 100vw;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.accordion-content .carousel {
    height: 97vw;
}
.carousel {
    position: relative;
    width: 94%;
    /* height: 540px; */
    overflow: hidden;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4.2px 3px rgba(0, 0, 0, 0.07);
    
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 94%;
    /* height: 90%; */
    object-fit: cover;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 22px;
}
.accordion-content .carousel-images img:first-child {
    margin-left: 0;
}
.carousel-images img:first-child {
    margin-left: 3%;
}

.carousel .click-area {
    position: absolute;
    top: 3vw;
    bottom: 0;
    width: 50%;
    cursor: pointer;
}

.carousel .click-area.left {
    left: 0;
    height: 330.5px;
}

.carousel .click-area.right {
    right: 0;
    height: 330.5px;
}
.game-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.gametitle{
    color:#4B5563;
    text-align: center;
    font-size: calc(1.5rem + 0.62vw);
    margin-top: 7vw;
    margin-bottom: 0vw;
    width: 80%;
}

.game-icon-container{
    /* width: 80%; */
    /* margin-top: 0.4vw; */
    display: flex;
    justify-content: center;
    
}

.game-info-icons{
    width: calc(1.2rem + 0.6vw);
    margin-right: 1.5vw;
}
.game-info-texts{
    color: #8E959D;
    font-size: calc(0.9rem + 0.6vw);
    margin-right: 4vw;
    font-weight: 600;
}

.explanation{
    display: block;
    max-width: 80%;
    color:#8A8A8A;
    text-align: center;
    font-size:calc(0.7rem + 0.6vw);
    font-weight: 600;
    margin-top: 0vw;
}
.systemtag-container{
    display: flex;
    margin-bottom: 2vw;
}
.whowheretag-container{
    display: flex;
}
.whowheretag-text {
    margin: 0;
    font-size: calc(0.7rem + 0.6vw);
    color: #8a8a8a;
    font-weight: 600;
    margin-right: 2vw;
}
.systemtag-text{
    margin: 0;
    font-size: calc(0.7rem + 0.6vw);
    color: #8a8a8a;
    font-weight: 600;
    margin-right: 5vw;
    margin-left: 4vw;
}
.tag{
    background-color: #f1f2f3;
    border-radius: 8px;
    font-size:calc(0.52rem + 0.6vw);
    padding: 0.5vw 1.5vw;
    color: #8a8a8a;
    margin-right: 1vw;

}

.accordion-content .carousel-dots{
    left: 45%;
}
.carousel-dots {
    position: absolute;
    top:94vw;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.6vw;
}

.carousel-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
}

.carousel-dots .active {
    background-color: #f7cd36;
    
}
.pickup-button-icon {
    width: calc(0.9rem + 0.7vw);
    height: calc(0.9rem + 0.7vw);
    margin-right: 8px; /* アイコンとテキストの間のスペースを調整 */
    vertical-align: middle; /* アイコンとテキストの垂直位置を揃える */
}
.game-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.game-controls button {
    display:flex;
    align-items: center;
    padding: 8px 18px 8px 18px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    color: white;
    font-size: calc(0.7rem + 0.6vw);
    font-weight: 600;
}
.purchaseButton{
    background-color:#ff4539;
    
}
.shareButton{
    background-color:#edc32c ;
}
.game-controls button:hover {
    filter: brightness(120%); 
}
#accordion-container{
    margin-top: 2vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    width: 94%;
    overflow: hidden;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 4.2px 3px rgba(0, 0, 0, 0.07);
    /* transition: height 0.3s ease; */
    margin-bottom: 10px;
    cursor: pointer;
}
.accordion.closed {
    height: 13vw;
    margin-top: 5vw;
    /* margin-bottom:10px; */
}
.accordion.open {
    height: 114vw; 
    margin-top: 5vw;
    /* margin-bottom:10px;  */
}
.accordion.open .carousel {
    box-shadow: none;
}

.accordion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3vw 4vw; */
    color: #eec32c;
    position:relative;
    font-size: calc(0.9rem + 0.7vw);
    height: 13vw;
}
.accordion-header span {
    font-size: calc(0.9rem + 0.8vw);
    font-weight: 600;
}
.toggleButton {
    background: none;
    border: none;
    color: #eec32c;
    /* font-size: 16px; */
    cursor: pointer;
    position: absolute; /* 追加 */
    right: calc(1rem + 0.8vw);
    background-image: url('/pictures/system_design/toggle_open.svg');
    width: calc(1rem + 0.8vw);
    height: calc(1rem + 0.8vw); 
    background-size: cover;
}
.accordion-content {

    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.notification {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2d866;
    color: #fffefa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: top 0.5s ease-in-out;
    opacity: 0;
    z-index: 1000;
}
.notification.show {
    top: 20px;
    opacity: 1;
}

@media (min-width: 600px) {
    /* body {
        background-color: lightblue;
    } */
    .home-title-pop{
        font-size:22.8px;
        margin-left:30px;
        margin-bottom:18.2px;
    }
    .grid-item img {
        width:268.5px;
        height:268.5px;
    }
    .grid-box {
        width: 268.5px;
    }
    .grid-container {

        gap: 21px;
        padding: 21px;
    }
    .grid-title {
        text-align: center;
        font-size:21.6px;
    }
    
    .grid-description {
        font-size: 16.32px;
    }

    .carousel{
        width:564px;
    }
    .carousel-dots {
        gap:9.6px;
        top: 564px;
    }
    .carousel .click-area.left {
    height: 564px;
    }
    .carousel .click-area.right {
    height: 564px;
    }
    .carousel-wrapper {
    width: 600px;
    }
    #pickup-carousels {
    
    width: 600px;
    }
    .gametitle {
        margin-top: 42px;
        font-size: 27.72px;
        width: 451px;
    }
    #accordion-container {
        margin-top: 12px;
        width: 600px;
    }
    .accordion.closed {
        height: 78px;
        margin-top: 30px;
    }
    .accordion {
        width: 564px;
    }
    .accordion-header {
        height: 78px;
    }
    .accordion-content {
        width: 600px;
    }
    .accordion-content .carousel {
        height: 582px;
    }
    .accordion.open {
        height: 684px;
        margin-top: 30px;
        /* margin-bottom: 10px; */
    }
        
    .pickup-title-more {
        color: #4B5563;
        font-size:22.8px;
        margin-left:30px;
        margin-bottom:18.2px;
        margin-top:18.2px;
    }
    .game-icon-container {
        width:350px;
    }
    .game-info-icons {
        width: 22.79px;
        margin-right: 9px;
    }
    .game-info-texts {
        font-size: 18px;
        margin-right: 24px;
    }
    .explanation {
        font-size: 18.04px;
    }
    .systemtag-container {
        margin-bottom: 12px;
    }
    .systemtag-text {
        font-size: 14.8px;
        margin-right: 30px;
        margin-left: 24px;
    }
    .tag {
        font-size: 11.92px;
        padding: 3px 9px;
        margin-right: 6px;
    }
    .whowheretag-text {
        font-size: 14.8px;
        margin-right: 12px;
    }
    .game-controls {
        margin-top: 30px;
        margin-bottom: 36px;
    }
    
    .game-controls button {
        font-size: 15.694px;
    }
    .pickup-button-icon {
        width: 18.59px;
        height: 18.59px;
    
    }
    .accordion-header span {
        font-size: 19.2px;
    }
    .toggleButton {
        right: 27.1px;
        width: 27.09px;
        height: 27.09px;

    }
    .rulette-logo-header {
        height: 72px;
    }
    header{
        margin-top: 24px;
        margin-bottom: 12px;
    }
}